body {
  margin: 0;
  width: 1440px;
  height: 3718px;
  background-color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

* {
  box-sizing: border-box;
}

/* Header Styles */
.headerContainer {
  width: 1103.41px;
  height: 29.46px;
  padding: 0px;
  margin: 35.02px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 167.02px;
  height: 29.46px;
  background: #FFFFFF;
}

#logo img {
  width: 100%;
  height: 100%;
}

.menu {
  width: 234px;
  height: 15px;
  display: flex;
  justify-content: space-between;
}

.menu a {
  font-family: 'Source Sans Pro';
  font-size: 12px;
  font-weight: 700;
  line-height: 15.08px;
  text-align: left;
  text-decoration: none;
  color: #333;
}

/* Banner and Pros Section Styles */
.mainPart {
  width: 1440px;
  height: 1093px;
  text-align: center;
  background: url('images/background.png') no-repeat center center/cover;
  color: #fff;
  padding: 100px 0;
}
